
<h3>Call to action</h3>

<hr>

<div class="container">
	<div class="col-sm-4">
		<h4>Services</h4>
		<ul class="content-block--list nav">
		  	<li><a ng-href="#/photo-scanning">Photo Scanning</a></li>
		  	<li><a ng-href="#/film-transfer">Film Transfer</a></li>
		  	<li><a ng-href="#/audio-transfer">Audio Transfer</a></li>
		  	<li><a ng-href="#/video-transfer">Video Transfer</a></li>
		</ul>		
	</div>
	<div class="col-sm-3">
		<h4>Information</h4>
		<ul class="content-block--list nav">
			<li><a ng-href="#/about">About</a></li>
		  	<li><a ng-href="#/contact">Contact</a></li>
		  	<li><a ng-href="#/location">Location</a></li>
		  	<li><a ng-href="#/case-studies">Case Studies</a></li>
		 	<li><a ng-href="#/faq">FAQ</a></li>
		  	<li><a ng-href="#/privacy-policy">Privacy Policy</a></li>
		</ul>
	</div>	
	<div class="col-sm-4">
		<h3>On the web</h3>
		<p>Yelp Link</p>
		<p>BBB credential</p>
		<p>Facebook</p>
		<p>Other social</p>
	</div>
</div>

<h4>Contact</h4>
<p>Address</p>
<p>Phone</p>
<p>Email</p>
<p>Address</p>