
<h3>Call to action</h3>

<div class="container">
	<ul class="content-block--list col-sm-6 nav">
	  <li><a ng-href="#/photo-scanning">Photo Scanning</a></li>
	  <li><a ng-href="#/film-transfer">Film Transfer</a></li>
	  <li><a ng-href="#/audio-transfer">Audio Transfer</a></li>
	  <li><a ng-href="#/video-transfer">Video Transfer</a></li>
	</ul>	
	<ul class="content-block--list col-sm-6 nav">
		<li><a ng-href="#/about">About</a></li>
	  <li><a ng-href="#/contact">Contact</a></li>
	  <li><a ng-href="#/contact">Location</a></li>
	  <li><a ng-href="#/case-studies">Case Studies</a></li>
	  <li><a ng-href="#/case-studies">FAQ</a></li>
	  <li><a ng-href="#/privacy-policy">Privacy Policy</a></li>
	</ul>	
</div>