<div class="content-block">
  <p>Tagline</p>
  <a href="#">Order now</a>
</div>

<div class="content-block">
	<h3>How can we help you?</h3>
  	<p>A short, few sentence blurb elaborating on tagline and emphasizing the quality of service.</p>
	<p><a ng-href="#/photo-scanning">Photo Scanning</a></p>
  	<p><a ng-href="#/film-transfer">Film Transfer</a></p>
  	<p><a ng-href="#/audio-transfer">Audio Transfer</a></p>
</div>

<div class="content-block">
	<p>Testimonial</p>
</div>

<div class="content-block">
	<h3>Prompt to contact</h3>
	<p>A sentence or two about personability</p>
</div>