<div class="content-block">
	<h1>{{service.name}}</h1>
	<p>{{service.tagline}}</p>
</div>

<div class="content-block">
	<h3>Formats we transfer</h3>
	<p class="note">List of formats with images of each</p>
	<ul class="content-block--list list--formats">
		<li ng-repeat="format in service.formats track by $index">{{format}}</li>
	</ul>
</div>

<div class="content-block">
	<h3>Result of transfer</h3>
	<p>{{service.result}}</p>
</div>

<div class="content-block">
	<h3>Customization</h3>
	<p>{{service.options}}</p>
</div>

<div class="content-block">
	<h3>Process</h3>
	<p>{{service.process}}</p>
</div>

<div class="content-block">
	<h3>Quick Quote</h3>
	<p>{{service.quote}}</p>
</div>